<div class="panel">
  <h5><i class="fi-<%=type_icon(person.type) %> size-30"></i><%= person.full_name %></h5>
</div>

<div class="row">
   <div class="large-5 columns">
      <h5>Title</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.title%></h5>
   </div>   
</div>

<div class="row">
   <div class="large-5 columns">
      <h5>Preferred Name</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.try(:preferred_name) %></h5>
   </div>   
</div>

<div class="row">
   <div class="large-5 columns">
      <h5>Gender</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.try(:gender) %></h5>
   </div>   
</div>

<div class="row">
   <div class="large-5 columns">
      <h5>dob</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.dob%></h5>
   </div>   
</div>


<div class="row">
   <div class="large-5 columns">
      <h5>Type</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.type%></h5>
   </div>   
</div>

<div class="row">
   <div class="large-5 columns">
      <h5>Client ID</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.client_id%></h5>
   </div>   
</div>

<div class="row">
   <div class="large-5 columns">
      <h5>Relationship</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.relationship%></h5>
   </div>   
</div>

<div class="row">
   <div class="large-5 columns">
      <h5>Phone</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.full_phone_number%></h5>
   </div>   
</div>
<div class="row">
   <div class="large-5 columns">
      <h5>Fax</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.full_fax_number%></h5>
   </div>   
</div>
<div class="row">
   <div class="large-5 columns">
      <h5>Email</h5>
   </div>
   <div class="large-7 columns">
      <h4 class="subheader"><%= person.email%></h5>
   </div>   
</div>
<div class="row">
   <div class="large-5 columns">
      <h5>Address</h5>
   </div>
   <div class="large-7 columns">
      <% person.addresses.each do |addr| %>
         <%= addr.address_line_1%></br>
         <%= addr.address_line_2%></br>
         <%= addr.address_line_3%></br>
         <%= addr.city%></br>
         <%= addr.country%></br>
         <%= addr.post_code%></br>
      <% end %>
   </div>   
</div>





